body {
    margin: 0;
    padding: 10px;
    background-image: url("./img/server-datacenter-background.jpg");
}

header, footer {
    padding: 1em;
    color: white;
    background-color: #0080FF;
    clear: left;
    text-align: center;
}
article {
	height: 600px;
    width: 50%;
    color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 12px; 
}

h2 { 
	color: #ffffff; 
	font-family: 'Raleway',sans-serif; 
	font-size: 16px; 
	font-weight: 800; 
	line-height: 72px; 
	margin: 0 0 12px; 
	text-align: left; 
	text-transform: uppercase; 	
}